.text-center{
    text-align: center;
}
.bg{
    background-color: rgb(255, 166, 0);
}
.mx-auto{
    // margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
flex-direction:column ;
}
.items-center{
align-items: center;
}
.content-center{
    justify-content: center;
}
.height{
    // height: 80vh;
}
.width{
    // width: 80%;
}